<form class="mt-2" #f="ngForm" (ngSubmit)="ouvrirCompte()">
  <div class="form-group">
    <label for="numero">Numero de Compte</label>
    <input type="text" class="form-control"
    id="numero" name="numero" [(ngModel)]="compte.numero"
    required
    #num="ngModel">
    <div class="text text-danger" *ngIf="num.touched && num.invalid">
      Le numero est obligatoire
    </div>

  </div>
  <div class="form-group">
    <label for="prop">Propietaire</label>
    <input type="text" class="form-control" [(ngModel)]="compte.prop"
    id="prop" name="prop"
    required
    #prp="ngModel">
    <div class="text text-danger" *ngIf="prp.touched && prp.invalid">
      Validation message
    </div>
  </div>

  <div class="form-group">
    <label for="solde">Solde</label>
    <input type="number" class="form-control" [(ngModel)]="compte.solde"
    id="solde" name="solde"
    required
    #sold="ngModel">
    <div class="text text-danger" *ngIf="sold.touched && sold.invalid">
      Validation message
    </div>
  </div>
  <div class="form-group">

    <button type="submit" class="btn btn-primary"
    [disabled]="!f.valid">
      Ouvrir ce Compte
    </button>
    </div>
</form>
